@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0f74bc;
  --color-secondary: #27a7e3;
  --color-background: #ffffff;
  --color-text: #333333;
}

@layer base {
  body {
    @apply text-text bg-background;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

